$navbar-height: 80px;

@import "bootstrap";
@import "base";
@import "lib/angular/angular-csp.css";

body {
	max-width: 1000px;
}

nav {
	@include floating-box;
	margin-top: 20px;
}

main {
	margin-bottom: 30px;

	.floating-panel {
		@include floating-content;
	}
}
