@import "base";

.github-project {
	@include floating-content;
	position: relative;
	padding-right: 80px;
	min-height: 150px;

	a:first-child img {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		margin-right: -1px;
		margin-top: -1px;
	}
}
