@import "base";

#references ol {

	padding-left: 2em;

	li a {
		display: inline-block;
		font-weight: bold;
		border: dotted 1px lightgray;
		padding: 0px 3px;
		color: rgb(51, 51, 51);

		&:hover {
			text-decoration: none;
			border: solid 1px $link-color;
			background-color: lightcyan;
		}

	}

}
